---
# log_level: DEBUG
profiles:
  default:
    api_url: http://api.timon.osism.tech/api/
    api_version: v1
    insecure: False
    auth:
      organisation:
      project:
      username:
      password:
      # token:
      # token_secret:
